// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #FDE3A7;

// ----------------------------------------------------------------------------
// Widget-clock styles
// ----------------------------------------------------------------------------
.widget-clock {

  background-color: $background-color;
  color:black;
  font-weight: 900;

}


.wrap-clock{
	width:100%;
	display:block;
}
.clock{
		display:inline-block;
	text-align: center;
	width:33%;

}

.flag {
	display:inline-block
}