
<% content_for :title do %>HEC EXED Market dashboard<% end %>
<div class="gridster">
  <ul>


<li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="twitter_mentions" data-view="Comments" style="background-color:#00afd7;" data-moreinfo="Tweets @HECParisExecEd" ></div>
      <i class="icon-twitter icon-background"></i>
  </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-view="Clock" data-id="clock"></div>
    </li>

      <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
  <div data-id="my-trello-board" data-view="List" data-title="Trello Digiteam"></div>
  <i class="icon-trello icon-background"></i>
</li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1"> 
        <div data-id="visitor_count_real_time" data-view="Graph" data-title="Current Visitors"></div> 
    </li>
    <li data-row="1" data-col="1" data-sizex="4" data-sizey="1">
      <div data-view="Leads" data-id="leads" data-title="Leads"></div>
    </li>


    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="Hello" data-text="This is your shiny new dashboard." data-moreinfo="Protip: You can drag the widgets around!"></div>
    </li>

 
  <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
  <div data-id="google_calendar_<calendar_name>" data-view="GoogleCalendar" style="background-color:#4183C5;"></div>
  <i class="icon-calendar icon-background"></i>
</li>
  </ul>
</div>